
html, body {
    margin: 0;
    width: 100%;
}

.menuicon {
    max-width:200px ;
    }

@media screen and (max-width: 400px){

        .nav  {
            position: absolute ;
            left: 250px ;
            padding-left: 40px ;
        }
        .menuicon  {
            max-width:150px;
        }

        .navbar-collapse.in {
            overflow-y: visible ;
            position:absolute ;
            left: 250px ;
            top: 10px ;
            vertical-align: top ;
        }
        .dropdown-menu .dropdown-toggle:after{
            border-top: .3em solid transparent;
            border-right: 0;
            border-bottom: .3em solid transparent;
            border-left: .3em solid;
            float: auto;
            font-size: 1rem;
            bg-color: #444;
        }
        .dropdown-menu .dropdown-menu{
                margin-left:0; 
                margin-right: 0;
                font-size: .3rem;
        }
        .dropdown-menu li{
                position: relative;
                font-size: .5rem;
        }
        .nav-item .submenu{ 
                float:right;
                display: none;
                position: static;
                font-size: 1rem;
                left:100%; top:-7px;
                bg-color:#444;
        }
        .nav-item .submenu-left{ 
                right:100%; left:auto;
        }
        .nav-link  {
                line-height:15px ;
                font-size: .8rem ;
        }


        .dropdown-menu > li:hover{ background-color: #f1f1f1 }
        .dropdown-menu > li:hover > .submenu{
                display: block;
        }

        .custom-toggler.navbar-toggler {
                border-color: rgb(255,255,255);
        }

.navbar-dark .navbar-toggler {
  border:0;
}

.navbar-dark .navbar-toggler-icon {
  display:inline-block;
  font:normal normal normal 14px/1 FontAwesome;
  font-size:inherit;
  text-rendering:auto;
  background-image:none;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

.navbar-dark .navbar-toggler-icon:before {
  content:"\f07b";
}

.navbar-dark .navbar-toggler[aria-expanded=true] .navbar-toggler-icon:before {
  content:"\f07c";
}
}



.mycolumn2 {
    /* min-width: 620px;*/ 
    width: 100%;
    min-height: 400px;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px 20px 0 20px;
    background-color: white;
    display: block;
    position: relative;
    z-index: 1;
   }

.mytitle {
    min-width: 0px;
    font-family: Helvetica;
    font-variation: 16;
    font-size: 26px;
    justify-content: center;
    text-align: center;
    background-color: darkslategrey;
    padding: 5px 0px 5px 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    color: white;
    }
